:root {
    color-scheme: dark;
    --color-foreground: White;
    --color-background: Black;

    --klass-color-comment: #808080;
    --klass-color-keyword: #CC7832;
    --klass-color-identifier: color var(--color-foreground);
    --klass-color-package-name: #DD4488;
    --klass-color-top-level-element-name: #DD4488;
    --klass-color-interface-name: #00FFFF;
    --klass-color-enumeration-literal-name: #9876AA;
    --klass-color-parameter-name: #BB88FF;
    --klass-color-property-name: #9876AA;
    --klass-color-literal: #6897BB;
    --klass-color-string-literal: #6A8759;
    --klass-color-url-constant: #00FF00;

    --klass-color-semicolon: #CC7832;

    --klass-color-declaration: #A9B7C6;
    --klass-color-reference: #A9B7C6;
    --klass-color-highlight: #155221;
}
