.klass-theme-light {
    --color-foreground: Black;
    --color-background: White;

    --klass-color-comment: #8C8C8C;
    --klass-color-keyword: #0033B3;
    --klass-color-identifier: Black;
    --klass-color-package-name: #AA0000;
    --klass-color-top-level-element-name: #AA0000;
    --klass-color-interface-name: #00AAAA;
    --klass-color-enumeration-literal-name: #871094;
    --klass-color-parameter-name: #FF8800;
    --klass-color-property-name: #871094;
    --klass-color-literal: #1750EB;
    --klass-color-string-literal: #067D17;
    --klass-color-url-constant: #00AA00;

    /* Silver */
    --klass-color-semicolon: #CCCCCC;

    --klass-color-declaration: #EDEBFC;
    --klass-color-reference: #EDEBFC;
    --klass-color-highlight: #FFE959;
}
