a {
    color: inherit;
    text-decoration: none;
    scroll-margin-top: 40px;
}

.declaration {
    background: var(--klass-color-declaration);
}

.reference {
    background: var(--klass-color-reference);
}

.highlight {
    background: var(--klass-color-highlight);
}

.klass-comment {
    color: var(--klass-color-comment, --color-foreground);
}

.klass-block-comment {
    color: var(--klass-color-block-comment, var(--klass-color-comment, --color-foreground));
}

.klass-line-comment {
    color: var(--klass-color-line-comment, var(--klass-color-comment, --color-foreground));
}

.klass-keyword {
    color: var(--klass-color-keyword, --color-foreground);
}

.klass-package-keyword {
    color: var(--klass-color-package-keyword, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-enumeration {
    color: var(--klass-color-keyword-enumeration, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-interface {
    color: var(--klass-color-keyword-interface, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-user {
    color: var(--klass-color-keyword-user, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-class {
    color: var(--klass-color-keyword-class, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-projection {
    color: var(--klass-color-keyword-projection, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-service {
    color: var(--klass-color-keyword-service, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-abstract {
    color: var(--klass-color-keyword-abstract, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-extends {
    color: var(--klass-color-keyword-extends, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-implements {
    color: var(--klass-color-keyword-implements, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-inheritance-type {
    color: var(--klass-color-keyword-inheritance-type, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-association {
    color: var(--klass-color-keyword-association, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-relationship {
    color: var(--klass-color-keyword-relationship, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-order-by {
    color: var(--klass-color-keyword-order-by, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-order-by-direction {
    color: var(--klass-color-keyword-order-by-direction, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-on {
    color: var(--klass-color-keyword-on, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-multiplicity {
    color: var(--klass-color-keyword-multiplicity, var(--klass-color-keyword, --color-foreground));
}

.klass-keyword-multiplicity-choice {
    color: var(--klass-color-keyword-multiplicity-choice, var(--klass-color-keyword-multiplicity, var(--klass-color-keyword, --color-foreground)));
}

.klass-keyword-service-criteria {
    color: var(--klass-color-keyword-service-criteria, var(--klass-color-keyword-multiplicity, var(--klass-color-keyword, --color-foreground)));
}

.klass-primitive-type {
    color: var(--klass-color-primitive-type, var(--klass-color-keyword, --color-foreground));
}

.klass-verb {
    color: var(--klass-color-verb, var(--klass-color-keyword, --color-foreground));
}

.klass-verb-get {
    color: var(--klass-color-verb-get, var(--klass-color-verb, var(--klass-color-keyword, --color-foreground)));
}

.klass-verb-post {
    color: var(--klass-color-verb-post, var(--klass-color-verb, var(--klass-color-keyword, --color-foreground)));
}

.klass-verb-put {
    color: var(--klass-color-verb-put, var(--klass-color-verb, var(--klass-color-keyword, --color-foreground)));
}

.klass-verb-patch {
    color: var(--klass-color-verb-patch, var(--klass-color-verb, var(--klass-color-keyword, --color-foreground)));
}

.klass-verb-delete {
    color: var(--klass-color-verb-delete, var(--klass-color-verb, var(--klass-color-keyword, --color-foreground)));
}

.klass-modifier {
    color: var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground));
}

.klass-classifier-modifier {
    color: var(--klass-color-classifier-modifier, var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground)));
}

.klass-data-type-property-modifier {
    color: var(--klass-color-data-type-property-modifier, var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground)));
}

.klass-association-end-modifier {
    color: var(--klass-color-association-end-modifier, var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground)));
}

.klass-parameterized-property-modifier {
    color: var(--klass-color-parameterized-property-modifier, var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground)));
}

.klass-parameter-modifier {
    color: var(--klass-color-parameter-modifier, var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground)));
}

.klass-validation-modifier {
    color: var(--klass-color-validation-modifier, var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground)));
}

.klass-service-category-modifier {
    color: var(--klass-color-service-category-modifier, var(--klass-color-modifier, var(--klass-color-keyword, --color-foreground)));
}

.klass-identifier {
    color: var(--klass-color-identifier, --color-foreground);
}

.klass-package-name {
    color: var(--klass-color-package-name, var(--klass-color-identifier, --color-foreground));
}

.klass-top-level-element-name {
    color: var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground));
}

.klass-enumeration-name {
    color: var(--klass-color-enumeration-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-classifier-name {
    color: var(--klass-color-classifier-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-interface-name {
    color: var(--klass-color-interface-name, var(--klass-color-classifier-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-class-name {
    color: var(--klass-color-class-name, var(--klass-color-classifier-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-association-name {
    color: var(--klass-color-association-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-projection-name {
    color: var(--klass-color-projection-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-enumeration-literal-name {
    color: var(--klass-color-enumeration-literal-name, var(--klass-color-identifier, --color-foreground));
}

.klass-parameter-name {
    color: var(--klass-color-parameter-name, var(--klass-color-identifier, --color-foreground));
}

.klass-property-name {
    color: var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground));
}

.klass-data-type-property-name {
    color: var(--klass-color-data-type-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-primitive-property-name {
    color: var(--klass-color-primitive-property-name, var(--klass-color-data-type-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-enumeration-property-name {
    color: var(--klass-color-enumeration-property-name, var(--klass-color-data-type-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-reference-property-name {
    color: var(--klass-color-reference-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-parameterized-property-name {
    color: var(--klass-color-parameterized-property-name, var(--klass-color-reference-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-association-end-name {
    color: var(--klass-color-association-end-name, var(--klass-color-reference-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-enumeration-reference {
    color: var(--klass-color-enumeration-reference, var(--klass-color-enumeration-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-interface-reference {
    color: var(--klass-color-interface-reference, var(--klass-color-interface-name, var(--klass-color-classifier-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground)))));
}

.klass-class-reference {
    color: var(--klass-color-class-reference, var(--klass-color-class-name, var(--klass-color-classifier-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground)))));
}

.klass-projection-reference {
    color: var(--klass-color-projection-reference, var(--klass-color-projection-name, var(--klass-color-top-level-element-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-data-type-property-reference {
    color: var(--klass-color-data-type-property-reference, var(--klass-color-data-type-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground))));
}

.klass-association-end-reference {
    color: var(--klass-color-association-end-reference, var(--klass-color-association-end-name, var(--klass-color-reference-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground)))));
}

.klass-parameterized-property-reference {
    color: var(--klass-color-parameterized-property-reference, var(--klass-color-parameterized-property-name, var(--klass-color-reference-property-name, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground)))));
}

.klass-property-reference {
    color: var(--klass-color-property-reference, var(--klass-color-property-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-parameter-reference {
    color: var(--klass-color-parameter-reference, var(--klass-color-parameter-name, var(--klass-color-identifier, --color-foreground)));
}

.klass-literal {
    color: var(--klass-color-literal, var(--klass-color-keyword, --color-foreground));
}

.klass-literal-this {
    color: var(--klass-color-literal-this, var(--klass-color-keyword, --color-foreground));
}

.klass-literal-native {
    color: var(--klass-color-literal-native, var(--klass-color-keyword, --color-foreground));
}

.klass-string-literal {
    color: var(--klass-color-string-literal, var(--klass-color-literal, var(--klass-color-keyword, --color-foreground)));
}

.klass-integer-literal {
    color: var(--klass-color-integer-literal, var(--klass-color-literal, var(--klass-color-keyword, --color-foreground)));
}

.klass-boolean-literal {
    color: var(--klass-color-boolean-literal, var(--klass-color-literal, var(--klass-color-keyword, --color-foreground)));
}

.klass-character-literal {
    color: var(--klass-color-character-literal, var(--klass-color-literal, var(--klass-color-keyword, --color-foreground)));
}

.klass-floating-point-literal {
    color: var(--klass-color-floating-point-literal, var(--klass-color-literal, var(--klass-color-keyword, --color-foreground)));
}

.klass-asterisk-literal {
    color: var(--klass-color-asterisk-literal, var(--klass-color-integer-literal, var(--klass-color-literal, var(--klass-color-keyword, --color-foreground))));
}

.klass-punctuation {
    color: var(--klass-color-punctuation, --color-foreground);
}

.klass-comma {
    color: var(--klass-color-comma, var(--klass-color-punctuation, --color-foreground));
}

.klass-dot {
    color: var(--klass-color-dot, var(--klass-color-punctuation, --color-foreground));
}

.klass-dotdot {
    color: var(--klass-color-dotdot, var(--klass-color-punctuation, --color-foreground));
}

.klass-semicolon {
    color: var(--klass-color-semicolon, var(--klass-color-punctuation, --color-foreground));
}

.klass-operator {
    color: var(--klass-color-operator, var(--klass-color-punctuation, --color-foreground));
}

.klass-operator-eq {
    color: var(--klass-color-operator-eq, var(--klass-color-operator, var(--klass-color-punctuation, --color-foreground)));
}

.klass-operator-ne {
    color: var(--klass-color-operator-ne, var(--klass-color-operator, var(--klass-color-punctuation, --color-foreground)));
}

.klass-operator-lt {
    color: var(--klass-color-operator-lt, var(--klass-color-operator, var(--klass-color-punctuation, --color-foreground)));
}

.klass-operator-gt {
    color: var(--klass-color-operator-gt, var(--klass-color-operator, var(--klass-color-punctuation, --color-foreground)));
}

.klass-operator-le {
    color: var(--klass-color-operator-le, var(--klass-color-operator, var(--klass-color-punctuation, --color-foreground)));
}

.klass-operator-ge {
    color: var(--klass-color-operator-ge, var(--klass-color-operator, var(--klass-color-punctuation, --color-foreground)));
}

.klass-word-operator {
    color: var(--klass-color-word-operator, var(--klass-color-keyword, --color-foreground));
}

.klass-operator-in {
    color: var(--klass-color-operator-in, var(--klass-color-word-operator, var(--klass-color-keyword, --color-foreground)));
}

.klass-operator-string {
    color: var(--klass-color-operator-string, var(--klass-color-word-operator, var(--klass-color-keyword, --color-foreground)));
}

.klass-colon {
    color: var(--klass-color-colon, var(--klass-color-punctuation, --color-foreground));
}

.klass-slash {
    color: var(--klass-color-slash, var(--klass-color-punctuation, --color-foreground));
}

.klass-question {
    color: var(--klass-color-question, var(--klass-color-punctuation, --color-foreground));
}

.klass-paired-punctuation {
    color: var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground));
}

.klass-parentheses {
    color: var(--klass-color-parentheses, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground)));
}

.klass-parenthesis-left {
    color: var(--klass-color-parenthesis-left, var(--klass-color-parentheses, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground))));
}

.klass-parenthesis-right {
    color: var(--klass-color-parenthesis-right, var(--klass-color-parentheses, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground))));
}

.klass-curly-braces {
    color: var(--klass-color-curly-braces, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground)));
}

.klass-curly-left {
    color: var(--klass-color-curly-left, var(--klass-color-curly-braces, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground))));
}

.klass-curly-right {
    color: var(--klass-color-curly-right, var(--klass-color-curly-braces, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground))));
}

.klass-square-brackets {
    color: var(--klass-color-square-brackets, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground)));
}

.klass-square-bracket-left {
    color: var(--klass-color-square-bracket-left, var(--klass-color-square-brackets, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground))));
}

.klass-square-bracket-right {
    color: var(--klass-color-square-bracket-right, var(--klass-color-square-brackets, var(--klass-color-paired-punctuation, var(--klass-color-punctuation, --color-foreground))));
}
