.klass-theme-dark {
    --color-foreground: White;
    --color-background: Black;

    --klass-color-comment: Gray;
    --klass-color-keyword: Purple;
    --klass-color-identifier: Black;
    --klass-color-package-name: Maroon;
    --klass-color-top-level-element-name: Maroon;
    /* DeepSkyBlue */
    --klass-color-interface-name: #0080C0;
    /* DarkBlue */
    --klass-color-enumeration-literal-name: #000080;
    /* Chocolate */
    --klass-color-parameter-name: #b55700;
    --klass-color-property-name: #5555ff;
    --klass-color-literal: Blue;
    --klass-color-string-literal: Green;

    /* DarkBlue */
    --klass-color-url-constant: #000572;

    /* Silver */
    --klass-color-semicolon: #cccccc;

    --klass-color-declaration: #344134;
    --klass-color-reference: #344134;
    --klass-color-highlight: #32593D;
}
